img {
    height: auto;
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
}

.headers,
.hero-section
 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 120px;
}

.hero-section {
    padding: 80px 120px;
}

.headers,
.hero-section,
.footer {
    background-color: #1F2937;
    color: #E5E7EB
}

.hero {
    margin: 10px 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo-text,
.hero-text{
    color: #F9FAF8
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.hero-text{
    font-size: 48px;
    font-weight:bolder;
}

.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}

.placeholder-image {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 108, 122);
    padding: 0px 100px;
    margin-left: 20px;
    flex-shrink: 0;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    margin: 8px 0px;
    padding: 8px 28px;
    border-radius: 10px;
    border-color: transparent;

}